<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mx-auto">
      <div class="card">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="title" class="form-label">Recipe Title <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="title" placeholder="Homemade Pizza" formControlName="title"
                [class.invalid]="recipeForm.get('title').touched && recipeForm.get('title').invalid">
              <div class="text-danger" *ngIf="recipeForm.get('title').touched && recipeForm.get('title').invalid">Please
                enter a valid title for your recipe.</div>
            </div>

            <div class="form-group mb-3">
              <label for="description" class="form-label">Recipe Description</label>
              <textarea class="form-control" id="description" row="10" cols="35"
                placeholder="Great for the whole family" formControlName="description"></textarea>
            </div>

            <div class="form-group mb-3">
              <label for="img" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="img" placeholder="https://example.com/lasagna.jpg"
                formControlName="img">
            </div>

            <div formArrayName="ingredients">
              <div class="row mb-3">
                <div class="col">
                  <label>Ingredients</label>
                </div>
                <div class="col text-end">
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="onAddIngredient()">Add
                    Ingredient</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div *ngFor="let ingredientControl of getIngredientControls(); let i = index">
                    <input type="text" class="form-control mb-3" [formControlName]="i"
                      [class.invalid]="ingredientControl.touched && ingredientControl.invalid">
                  </div>
                </div>
              </div>
            </div>

            <div formArrayName="steps">
              <div class="row mb-3">
                <div class="col">
                  <label>Steps</label>
                </div>
                <div class="col text-end">
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="onAddStep()">Add Step</button>
                </div>
              </div>
              <div class="row">
                <div *ngFor="let stepControl of getStepControls(); let i = index">
                  <input type="text" class="form-control mb-3" [formControlName]="i"
                    [class.invalid]="stepControl.touched && stepControl.invalid">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-secondary" [routerLink]="['/']">Back</button>
                <button type="submit" class="btn btn-primary ms-2" [disabled]="recipeForm.invalid">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>