/* You can add global styles to this file, and also import other style files */
body {
  background: #1F813B;
  background: #1F813B;
  background: -webkit-linear-gradient(top left, #1F813B, #083703);
  background: -moz-linear-gradient(top left, #1F813B, #083703);
  background: linear-gradient(to bottom right, #1F813B, #083703);
  min-height: 100vh;
}